@font-face {
  font-family: timerFont;
  src: url(Condiment-Regular.ttf);
}
@font-face {
  font-family: btnFont;
  src: url(Aladin-Regular.ttf);
}

:root {
  --base-color: #1a1a1a;
  --secondary-color: #799496;
  --timertext-color: #f79d5c;
  --normaltext-color: whitesmoke;
  --button-color: gray;
  --bottome-container: #1a1a1a;
}
.white-mode {
  --base-color: #0c1821;
  --secondary-color: #0eb1d2;
  --timertext-color: #ffeb36;
  --normaltext-color: whitesmoke;
  --button-color: #0c1821;
  --bottome-container: #006ef5;
  background-image: url("secondary.jpg");
}

/* animations for the boxs */

@keyframes boxDelay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url(main.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;

  /* overflow: hidden; */
}
/* fade animation for the bcg image */
.fade {
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* fade animation for the bcg image */

.container {
  /* border: 1px solid blue; */

  min-height: 100vh;
}
.nav-bar {
  z-index: 999;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 00px;

  border-radius: 0% 10px 10px 0%;

  background-color: rgba(128, 128, 128, 0.5);
}
.box1,
.box4 {
  cursor: default;
}
.box1 {
  font-family: timerFont;
  font-size: 350px;
  animation: boxDelay 0.5s ease-in-out;
  background-color: var(--base-color);
  color: var(--timertext-color);
  /* margin: 10px; */
  border-radius: 5px 100px 100px;
  animation-delay: 0.1s;

  text-align: start;
}

.box2 {
  background-color: var(--base-color);
  animation: boxDelay 0.5s ease-in-out;
  animation-delay: 0.2s;
  border-radius: 100px;
  font-size: 350px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.box3 {
  animation: boxDelay 0.5s forwards;
  animation-delay: 0.3s;
  background-color: var(--base-color);
  border-radius: 100px;
  /* backdrop-filter: blur(2px); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.box4 {
  font-family: timerFont;
  font-size: 350px;
  animation: boxDelay 0.5s ease-in-out;
  background-color: var(--base-color);
  color: var(--normaltext-color);
  /* margin: 10px; */
  animation-delay: 0.1s;
  border-radius: 100px 100px 0px 100px;

  text-align: start;
}

.box2 button {
  font-family: btnFont;
  background-color: var(--secondary-color);
  font-size: 230px;
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  border: none;
  transition: all 0.5s ease-in-out;
}
.box2 button:active {
  transform: scale(0.9);
  box-shadow: 10px 10px 10px;
}
.box3 button {
  font-family: btnFont;
  background-color: var(--secondary-color);
  font-size: 230px;
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  border: none;
  transition: all 0.5s ease-in-out;
}
.box3 button:active {
  transform: scale(0.9);
  box-shadow: 10px 10px 10px;
}

.app-container {
  /* margin: 50px 0px; */

  height: 85vh;
  width: 100vw;
  /* border: 1px solid blue; */
}

.grid-container {
  /* border: 1px solid red; */
  gap: 10px;
  padding: 50px;
  height: 80vh;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 400px);
}

.bottom-container {
  position: fixed;
  /* background-color: #0eb1d2; */
  /* z-index: 999; */
  bottom: 0;
  right: 0;
  height: 100px;
  /* backdrop-filter: blur(10px); */
  width: 100vw;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.time-elements {
  z-index: 999;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  background-color: transparent;
  backdrop-filter: blur(10px);
  display: flex;
  border-radius: 10%;
  padding: 10px;
  flex-direction: column;

  opacity: 0;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.time-elements button {
  font-family: btnFont;

  border-radius: 5px;
  border: none;
  margin: 5px;
  padding: 10px;
}
.cont {
  position: absolute;
  /* background-color: red; */
  height: 400px;
  width: 200px;

  z-index: -1;
}
.time-elements.show {
  opacity: 1;

  max-height: 500px; /* Adjust based on your content */
}

.bottom-elements {
  font-family: btnFont;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--bottome-container);
  border-radius: 50% 50% 0% 0%;
  width: 35rem;
  height: 5rem;

  padding: 10px;
  margin-top: 20px;
}

#theme-toggle {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: var(--button-color);
  color: white;
  font-family: btnFont;
  font-size: 35px;
  text-align: center;
}
#revealtimeelem {
  font-family: btnFont;
  font-size: 20px;
  margin: 15px;
  border-radius: 100%;
  height: 60px;
  text-align: center;
  width: 60px;
  border: none;
  background-color: var(--button-color);
  color: white;
}
#sessioncounter {
  margin: 15px;
  border-radius: 100%;
  height: 60px;
  text-align: center;
  width: 60px;
  border: none;
  background-color: var(--button-color);
  color: white;
  font-size: 50px;
}
.wrapper {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper h1 {
  font-family: btnFont;
  margin-bottom: 1.5rem;
}
.wrapper ul {
  list-style: none;
  line-height: 2.5rem;
}
.wrapper button {
  font-family: btnFont;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.tipsmenue {
  cursor: default;
  color: var(--normaltext-color);
  opacity: 0;
  position: absolute;
  top: 100px;
  z-index: 1000;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  transition: all 1s ease-in-out;
  padding: 20px;
  height: 350px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.541);
  backdrop-filter: blur(20px);
}

@media (max-width: 1780px) {
  .box1,
  .box2,
  .box3,
  .box4 {
    font-size: 200px;
    text-align: center;

    border-radius: 100px;
  }

  .grid-container {
    grid-template-rows: repeat(2, 300px);
  }
}

@media (max-width: 1180px) {
  .box1,
  .box2,
  .box3,
  .box4 {
    border-radius: 100px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .box1,
  .box4 {
    padding: 50px;
  }

  .box2 button,
  .box3 button {
    font-size: 100px;
  }
  .grid-container {
    grid-template-rows: repeat(2, 200px);
  }
}
@media (max-width: 550px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 200px);
    justify-content: center;
  }
  .tipsmenue {
    text-align: center;
    height: 600px;
    width: 350px;
  }

  .box1,
  .box4 {
    padding: 10px;
    font-size: 60px;
  }
  .box2 button,
  .box3 button {
    font-size: 100px;

    height: 200px;
    width: 350px;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 200px);
  }
}
